<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.b07demosummer2024">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.B07DemoSummer2024">

        <!-- Reminder Broadcast Receiver -->
        <receiver
            android:name=".ReminderReceiver"
            android:exported="false" />

        <!-- Reminder Setup UI -->
        <activity
            android:name=".ReminderActivity"
            android:exported="false" />

        <!-- Tips Page -->
        <activity
            android:name=".TipsActivity"
            android:exported="false" />

        <!-- Questionnaire Page -->
        <activity
            android:name=".RelationshipStatusActivity"
            android:exported="false" />

        <!-- Home (Main Hub) -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- PIN Setup -->
        <activity
            android:name=".data.PinCreationActivity"
            android:exported="false" />

        <!-- Reset Password -->
        <activity
            android:name=".ResetPwActivity"
            android:exported="false"
            android:label="ResetPwActivity" />

        <!-- Login -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />

        <!-- Sign Up (Launch Activity) -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Required for WorkManager -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>
</manifest>